body {
	margin: 0;
}

#app {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.marker {
	padding: 6px 12px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.marker:hover {
	background: rgba(255, 255, 255, 1);
	color: #000;
	z-index: 9999 !important;
}

.selected {
	padding: 6px 20px;
	border-radius: 30px;
	font-size: 2em;
	background: #fff;
	color: #000;
}
